/* BASICS
---------------------------------------------------------------------*/
* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font: 400 14px "open-sans",serif; 
	background: rgb(14,17,18);
}

body {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* SCROLLBARS */
*::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}
 
*::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.35);
	background: rgba(0,0,0,.15);
	border-radius: 4px;
}
 
*::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background: rgba(0,0,0,.35);
}

*::-webkit-scrollbar-corner {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.35); 
}


/* GLOBAL BODY
-------------------------------------------------------------------------*/
#s-body {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
}


/* LEFT SECTION
-------------------------------------------------------------------------*/
#s-left {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  width: 320px;
  border-right: 1px solid #262A2C;
}

	#s-left .panel-body {
		background: rgb(61,67,68);
		color: #rgb(255,255,255);
	}


/* RIGHT SECTION
-------------------------------------------------------------------------*/
#s-right {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
}


/* TOP SECTION
-------------------------------------------------------------------------*/
#s-top {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  min-height: 250px;
  max-height: 350px;
  border-bottom: 1px solid #262A2C;
}


/* BOTTOM SECTION
-------------------------------------------------------------------------*/
#s-bottom {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  min-height: 200px;
}
#audit-trail {
  margin-top: 20px;
}


/* DATAGRID
-------------------------------------------------------------------------*/
.datagrid {
  width: 100%;
  border-collapse: collapse;
}

.datagrid th {
  padding: .5em;
  font-size: .75em;
  text-transform: uppercase;
  color: #666;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.6);
  text-align: left;
  vertical-align: top;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.6), 0px 1px 0px gba(255, 255, 255, 0.2);
  background: -webkit-linear-gradient(#fafafa, #bdbdbd);
}

.datagrid tbody tr {
  height: 40px;
}

.datagrid tbody tr:nth-child(odd) {
  background: #f5f5f5;
}

.datagrid tbody tr:nth-child(even) {
  background: #e6e6e6;
  background: rgba(0,0,0,.1);
}

.datagrid tbody tr.instancesSelected {
	color: rgb(255,255,255);
  background: rgb(87,160,204);
}

.datagrid td {
  padding: .6em;
  vertical-align: top;
}


/* FORM
-------------------------------------------------------------------------*/
input, select, textarea {
  width: 100%;
  border: 1px solid #737373;
  border-radius: 3px;
  padding: .4em;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2);
  font-size: 1rem;
}

input[type="checkbox"],input[type="radio"] {
	width: inherit;
}

input[type="search"] {
  width: 100%;
  border: 1px solid #737373;
  border-radius: 12px;
  padding: .4em .4em .4em 25px;
  box-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3), 0px 1px 0px rgba(255, 255, 255, 0.2);
  font-size: 1rem;
  background: url('admin_files/magnify_dim_gray.png') 5px center no-repeat #ffffff;
}

button {
  min-width: 80px;
  margin: 6px 12px 0 0;
  border-radius: 3px;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  background: none;
  font-size: 1rem;
  color: rgba(102, 153, 204, .85);
}

button:hover {
	cursor: pointer;
}

.primary {
  background: rgba(102, 153, 204, .85);
  color: #fff;
}

.form-body {
  margin: 0;
  border: none;
  border-top: 1px solid #ccc;
  padding: 0 20px;
}

.form-body > legend {
  margin: 0 0 0 -5px;
  padding: 0 5px;
  font-size: .875em;
  color: #666;
}

.form-body > div {
  margin: 6px 0;
}

.form-body > div > label {
  display: block;
  padding: 6px 0 2px;
  font-size: 0.875rem;
  color: #666;
  color: rgba(0,0,0,.5);
}

.form-body > input {
  margin: 6px 0 20px 0;
  height: 34px;
  font-size: 1.2rem;
  border: 1px solid rgba(0,0,0,.25);
}



/* FORM - READONLY
-------------------------------------------------------------------------*/
.read-only-form {
  width: 100%;
  border-collapse: collapse;
}

.read-only-form tr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.read-only-form th {
  width: 60%;
  padding: 6px 0;
  font: 12px nimbus-sans, "Helvetica Neue", helvetica, arial, sans-serif;
  text-transform: uppercase;
  color: #666;
  text-align: left;
}

.read-only-form td {
  padding: 6px 0;
  text-align: right;
  font-weight: 700;
}


/* ITEM LIST
-------------------------------------------------------------------------*/
.item-list {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin: 0;
  padding: 0;
  border: 1px solid #717171;
  list-style: none;
  color: #000;
  background: #858585;
}

.item-list a {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  box-orient: vertical;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  box-pack: center;
  height: 46px;
  border-top: 1px solid #d4d4d4;
  border-bottom: 1px solid #ababab;
  padding: 0 24px;
  font-size: 18px;
  background: -webkit-linear-gradient(#f8f8f8, #e4e4e4);
}

.item-list a > .symbol {
  font-size: 16px;
  font-weight: 700;
}

.item-list a > .gainer {
  width: 17px;
  height: 18px;
  background: url('../../images/gainer.png') center center no-repeat;
}

.item-list a > .loser {
  width: 17px;
  height: 18px;
  background: url('../../images/loser.png') center center no-repeat;
}

div > legend {
  margin: 0 0 0 -5px;
  padding: 0 5px;
  font-size: .875em;
  color: #666;
}


/* OBJECT LIST
-------------------------------------------------------------------------*/
#object-list ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: rgb(255,255,255);
}

#object-list li {
  padding: 10px 20px;
  font-size: 1.2rem;
}

.objectsSelected{
    background: rgb(87,160,204);
}

#object-list ul ul {
  padding: 0 0 0 20px;
  list-style-type: square;
}

#object-list ul ul li {
  padding: 6px 0 2px;
  font-size: 1rem;
}


/* PANEL
-------------------------------------------------------------------------*/
.panel {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	box-orient: vertical;
}

/* PANEL HEADER */
.panel-header {
	display: -webkit-box;
	display: -moz-box;
	display: box;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	box-orient: horizontal;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	box-pack: justify;
	height: 32px;
	border-bottom: 1px solid #666666;
	padding: 6px 10px 8px;
	background: -webkit-linear-gradient(#353B3E, #262A2C);
}

.panel-header-left {
	width: 25%;
	padding: 0;
	text-align: left;
}

.panel-header-center {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
	text-align: center;
}

	.panel-title {
		font-size: 1.14rem;
		color: #6C7B80;
		text-shadow: 0px -1px 0px rgba(0, 0, 0, 1);
	}

.panel-header-right {
	width: 25%;
	padding: 0 0px;
	text-align: right;
}

.panel-header-button {
  display: inline-block;
  position: relative;
  top: -3px;
  min-width: 60px;
  height: 24px;
  margin: 0; 
  padding: 4px; 
  background-image:-webkit-linear-gradient(-90deg,rgb(63,66,67) 0%,rgb(47,52,53) 15%,rgb(26,30,31) 99%,rgb(26,30,31) 100%);
	border: 1px solid rgb(27,29,29);
	border-radius: 4px;
	box-shadow:0px -1px 0px rgba(0,0,0,.5), 0px 1px 0px rgb(61,67,68);
	font-size: .875rem;
	color: rgba(255,255,255,.8);
}


/* PANEL BODY */
.panel-body {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
  padding: 20px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background: #fff;
}
.flush {
  padding: 0px;
}


/* EDITABLE LIST
-------------------------------------------------------------------------*/
.editable-list {
  margin: 0;
  padding: 0;
  list-style-position: inside;
}
.editable-list li {
  margin-bottom: 10px;
}
.editable-list-box {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
}
.editable-list-box div:nth-child(1) {
  padding-top: 8px;
}
.editable-list input[type="radio"] {
  margin: 0 15px 0 10px;
}
.editable-list-box div:nth-child(2) {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  box-flex: 1;
}
.editable-list-buttons {
  padding: 6px 58px;
}
.editable-list-buttons span {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-right: 18px;
  cursor: pointer;
}
.editable-list-button-add {
  background-image: url('../../images/circle-plus_gray.png');
}
.editable-list-button-remove {
  background-image: url('../../images/circle-x_gray.png');
}
.editable-list-button-moveup {
  background-image: url('../../images/circle-north_gray.png');
}
.editable-list-button-movedown {
  background-image: url('../../images/circle-south_gray.png');
}